// Import do Material (mantenha o que já existe)
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --uk-charcoal: #121212;
  --uk-gold: #D4AF37;
  --uk-silver: #E0E0E0;
  --uk-error: #FF3B30;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--uk-charcoal);
  font-family: 'Inter', sans-serif;
  margin: 0;
}

/* Reforço de largura total para componentes Material */
mat-form-field.full-width {
  width: 100% !important;
}

.mdc-text-field--filled {
  width: 100% !important;
}

/* Garante que os ícones do Material se comportem como fontes de ícones */
.material-icons {
  font-family: 'Material Icons' !important;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}